network:
  version: 2
  ethernets:
    enp6s18:
      dhcp4: false
      addresses:
          - {{ vm102_nginx_cidr }}
      routes:
          - to: default
            via: {{ vms_gateway }}
      nameservers:
          addresses:
              - {{ vms_dns_server }}
